
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@*supplier*@
<div class="card">
    <div class="card-body">
        <h5>Export Master Data</h5>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Excel", "Supplier")'">Excel</button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Report", "Supplier")'">PDF</button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Suppliers</h4>
        <h6 class="card-subtitle">Basic sortable table</h6>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#supplierModal" onclick="clearTextBox();">Add</button>
        <button type="button" class ="btn btn-primary" onclick="location.href='@Url.Action("CSV", "Supplier")'" >Export CSV</button>
        @*<button class="btn btn-primary" asp-action="Excel" asp-controller="Supplier">Export Excel</button>
        <button class="btn btn-primary" asp-action="CSV" asp-controller="Supplier">Export CSV</button>*@
        <br />
        @*<table id="SupplierData" data-toggle="table" data-url="https://api.github.com/users/wenzhixin/repos?type=owner&sort=full_name&direction=asc&per_page=100&page=1" data-sort-name="stargazers_count" data-height="280" data-mobile-responsive="true" data-sort-order="desc" class="table">*@
        <table id="SupplierData" data-toggle="table" data-sort-name="stargazers_count" data-height="280" data-mobile-responsive="true" data-sort-order="desc" class="table">
            <thead>
                <tr>
                    <th>Supplier Id</th>
                    <th data-field="Id" data-sortable="true"> Name </th>
                    <th data-field="JoinDate" data-sortable="true" data-width="100"> Join Date </th>
                    <th data-field="Action" data-sortable="true"> Action </th>
                </tr>
            </thead>
            <tbody class="SupplierDataTable"></tbody>
        </table>
    </div>
</div>

@*transaction*@

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Items</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#itemModal" onclick="clearTextBoxItem();">Add</button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CSVItem", "Supplier")'">Export CSV</button>
        <br />
        <table id="Itemdata" data-toggle="table" data-sort-name="stargazers_count" data-height="280" data-mobile-responsive="true" data-sort-order="desc" class="table">
            <thead>
                <tr>
                    <th data-field="name" data-sortable="true"> Name </th>
                    <th data-field="stock" data-sortable="true" data-width="100"> Stock </th>
                    <th> Price </th>
                    <th> Supplier Id </th>
                    <th> Supplier Name </th>
                    <th data-field="Action" data-sortable="true"> Action </th>
                </tr>
            </thead>
            <tbody class="ItemDataTable"></tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="supplierModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Form Supplier</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><div class="modal-body">
                <form>
                    <div class="form-group" hidden="hidden">
                        <label for="ID">ID</label>
                        <input type="hidden" class="form-control" id="Id" placeholder=" ID" name="Id">
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="JoinDate">JoinDate</label>
                        @*<input type="text" class="form-control" id="JoinDate" placeholder="JoinDate" />*@
                        <input type="date" class="form-control" id="JoinDate" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Add" onclick="Add();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<!-- Modal -->
<div class="modal fade" id="itemModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Form Item</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><div class="modal-body">
                      <form>
                          <div class="form-group" hidden="hidden">
                              <label for="ID">ID</label>
                              <input type="hidden" class="form-control" id="Id" placeholder=" ID" name="Id">
                          </div>
                          <div class="form-group">
                              <label for="ItemName">Item Name</label>
                              <input type="text" class="form-control" id="ItemName" placeholder="Name" />
                          </div>
                          <div class="form-group">
                              <label for="Stock">Stock</label>
                              <input type="text" class="form-control" id="Stock" placeholder="Stock" />
                          </div>
                          <div class="form-group">
                              <label for="Price">Price</label>
                              <input type="text" class="form-control" id="Price" placeholder="Price" />
                          </div>
                          <div class="form-group">
                              <label for="SupplierId">Supplier ID</label>
                              <input type="text" class="form-control" id="SupplierId" placeholder="Supplier Id" />
                          </div>
                      </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AddItem" onclick="AddItem();">Add</button>
                <button type="button" class="btn btn-primary" id="UpdateItem" style="display:none;" onclick="UpdateItem();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
@section Scripts{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js "></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/app.js"></script>
    <script src="~/Scripts/Suppliers.js"></script>
    <script src="~/js/moment.js"></script>
}
